.idea/*.iml
.idea/*.xml

src/main/java/com/zs/assignment-zero/readme.md
src/main/java/com/zs/assignment3/controller/AdminController.class
src/main/java/com/zs/assignment3/controller/CustomerController.class
src/main/java/com/zs/assignment3/model/Category.class
src/main/java/com/zs/assignment3/model/ElectronicsProduct.class
src/main/java/com/zs/assignment3/model/GroceryProduct.class
src/main/java/com/zs/assignment3/model/PersonalCareProduct.class
src/main/java/com/zs/assignment3/model/SubCategory.class
src/main/java/com/zs/assignment3/model/Product.class
src/main/java/com/zs/assignment3/services/CategoryService.class
src/main/java/com/zs/assignment3/services/ProductService.class
src/main/java/com/zs/assignment3/ECommApplication.class
zs-java-assignments-garvmadan.iml
src/main/java/com/zs/zs.iml
src/main/logging.xml
.gradle
build
.kotlin
out
student_departments.csv
student_departments_compressed.csv.gz
.idea/inspectionProfiles/Project_Default.xml
.env.local

src/main/resources/db.properties
gradle

